<ul class="ui--list-menu">
	<li>
		<a class="js-navigate" href="{{url '/tasks'}}" rel="tasks">
			<span title="Tasks"></span><span>Tasks</span>
		</a>
	</li>
</ul>

<div class="app-version">
	<a href="#" class="js-show-app-details">v {{UiAppVersion}}</a>
</div>
