<div class="component--loader"></div>
<div class="layout--header">
	<div class="layout--wrapper" id="region--header"></div>
</div>
<div class="layout--insider">
	<div class="layout--sidebar" id="region--sidebar"></div>
	<div class="layout--content" id="region--content"></div>
</div>
