<div class="layout--header" id="region--header"></div>
<div class="layout--sidebar expanded" id="region--sidebar"></div>
<div class="layout--content layout--scrollable-auto" id="region--content"></div>
